<nav>
    <div class="top-nav">
        <ul>
            <div class="options">
                <p><%= link_to "Home", root_path %> </p>
                <p><%= link_to "New Post", posts_new_path %> </p>
                <p><%= link_to "Blogs", posts_show_path %> </p>
            </div>
            <% if user_signed_in? %> 
            <div id="logout"><%= link_to 'Logout', destroy_user_session_path, method: "delete",class:"top-nav-link"%></div>
            <div id="username"><%= current_user.name %></div>
            <% else %>
                <div id="login"><%= link_to 'Login', new_user_session_path, class:"top-nav-link"%></div>
                <div id="signup"><%= link_to 'Sign Up', new_user_registration_path, class:"top-nav-link"%></div>

            <% end %>
        </ul>
    </div>  
</nav>


